.container{
    width: 80vw;
    margin: auto;
    background-color: whitesmoke;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}