/* .container{
    width: 80vw;
    margin: auto;
    background-color: rgb(247, 216, 216);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}



button{
    width: 10%;
    background-color: bisque;
    border: 2px solid black;
}


.formStyle{
    width: 50%;
}

.formStyle input{

    margin: 10px 0px;
} */


:root {
    --primeryColor: rgb(250, 193, 193);
    --SecondColor: rgb(154, 250, 213);
    --button: rgb(98, 122, 231);
}

.container {
    background-color: var(--primeryColor);
    color: var(--SecondColor);
}


.OutsideDiv{
    background-color: var(--button);
}

